services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: water-cooler-db
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:8.4-alpine
    container_name: water-cooler-redis
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
