spring:
  application:
    name: backend

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: ${JWT_ACCESS_EXPIRATION}
  refresh-token-validity: ${JWT_REFRESH_EXPIRATION}

ai:
  gemini:
    api-key: ${GEMINI_API_KEY}